name: Node CI

on:
    pull_request:
        branches:
            - main
            - dev

jobs:
    build:

        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                node-version: [10.x, 12.x]
                os: [ubuntu-latest, windows-2016, macOS-latest]

        steps:
        - uses: actions/checkout@v2
        - name: Use Node.jsn ${{ matrix.node-version }}
          uses: actions/setup-node@v1
          with:
              node-version: ${{ matrix.node-version }}
        - name: npm install, build, and test
          timeout-minutes: 15
          run: |
              npm install
              npm run build --if-present
              npm test
